---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>My Astro Site</h1>
	</main>
</Layout>

