$color-havelock-blue-50: #deebfa;
$color-havelock-blue-100: #bfd8f5;
$color-havelock-blue-200: #a0c5f0;
$color-havelock-blue-300: #81b2eb;
$color-havelock-blue-400: #69a3e7;
$color-havelock-blue-500: #4a90e2;
$color-havelock-blue-600: #2b7ddd;
$color-havelock-blue-700: #1c5eac;
$color-havelock-blue-800: #174d8e;
$color-havelock-blue-900: #123d6f;
$color-havelock-blue-base: #4a90e2;
$color-anzac-50: #faf3de;
$color-anzac-100: #f5e9bf;
$color-anzac-200: #f0dea0;
$color-anzac-300: #ebd381;
$color-anzac-400: #e7cb69;
$color-anzac-500: #e2c04a;
$color-anzac-600: #ddb52b;
$color-anzac-700: #ac8c1c;
$color-anzac-800: #8e7317;
$color-anzac-900: #6f5a12;
$color-anzac-base: #e2c04a;
$color-mantis-50: #e8fade;
$color-mantis-100: #d2f5bf;
$color-mantis-200: #bdf0a0;
$color-mantis-300: #a8eb81;
$color-mantis-400: #96e769;
$color-mantis-500: #81e24a;
$color-mantis-600: #6cdd2b;
$color-mantis-700: #50ac1c;
$color-mantis-800: #428e17;
$color-mantis-900: #336f12;
$color-mantis-base: #81e24a;
$color-fuchsia-pink-50: #f6defa;
$color-fuchsia-pink-100: #eebff5;
$color-fuchsia-pink-200: #e5a0f0;
$color-fuchsia-pink-300: #dd81eb;
$color-fuchsia-pink-400: #d669e7;
$color-fuchsia-pink-500: #ce4ae2;
$color-fuchsia-pink-600: #c62bdd;
$color-fuchsia-pink-700: #991cac;
$color-fuchsia-pink-800: #7e178e;
$color-fuchsia-pink-900: #63126f;
$color-fuchsia-pink-base: #ce4ae2;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-short: 1;
$line-height-normal: 1.5;
$line-height-tall: 2;
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-havelock-blue-50: #deebfa;
  --color-havelock-blue-100: #bfd8f5;
  --color-havelock-blue-200: #a0c5f0;
  --color-havelock-blue-300: #81b2eb;
  --color-havelock-blue-400: #69a3e7;
  --color-havelock-blue-500: #4a90e2;
  --color-havelock-blue-600: #2b7ddd;
  --color-havelock-blue-700: #1c5eac;
  --color-havelock-blue-800: #174d8e;
  --color-havelock-blue-900: #123d6f;
  --color-havelock-blue-base: #4a90e2;
  --color-anzac-50: #faf3de;
  --color-anzac-100: #f5e9bf;
  --color-anzac-200: #f0dea0;
  --color-anzac-300: #ebd381;
  --color-anzac-400: #e7cb69;
  --color-anzac-500: #e2c04a;
  --color-anzac-600: #ddb52b;
  --color-anzac-700: #ac8c1c;
  --color-anzac-800: #8e7317;
  --color-anzac-900: #6f5a12;
  --color-anzac-base: #e2c04a;
  --color-mantis-50: #e8fade;
  --color-mantis-100: #d2f5bf;
  --color-mantis-200: #bdf0a0;
  --color-mantis-300: #a8eb81;
  --color-mantis-400: #96e769;
  --color-mantis-500: #81e24a;
  --color-mantis-600: #6cdd2b;
  --color-mantis-700: #50ac1c;
  --color-mantis-800: #428e17;
  --color-mantis-900: #336f12;
  --color-mantis-base: #81e24a;
  --color-fuchsia-pink-50: #f6defa;
  --color-fuchsia-pink-100: #eebff5;
  --color-fuchsia-pink-200: #e5a0f0;
  --color-fuchsia-pink-300: #dd81eb;
  --color-fuchsia-pink-400: #d669e7;
  --color-fuchsia-pink-500: #ce4ae2;
  --color-fuchsia-pink-600: #c62bdd;
  --color-fuchsia-pink-700: #991cac;
  --color-fuchsia-pink-800: #7e178e;
  --color-fuchsia-pink-900: #63126f;
  --color-fuchsia-pink-base: #ce4ae2;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}